[server]
ip = 0.0.0.0
port = 5000

[elastic_search]
ip = 127.0.0.1
port = 9200
es_file = faq_vec.index

[annoy_search]
annoy_file = test.annoy
vec_dim = 120

[tfidf_transformer]
model_file = tfidftransformer.pkl
max_feature = 256
feature_dims = 120

[skip_embedding]
model_file = ./src/sentence_embedding/saved_models/skip_best
dict_file = ./src/sentence_embedding/data/faq.txt.pkl
vec_dim = 120

[term_retrieval]
top_n = 20
threshold = 2.0

[semantic_retrieval]
top_n = 20

[rank]
top_n = 5
threshold = 0.5

[lightgbm]
model_file = lightgbm_train_Model.pkl

[abcnn]
model_file = src/abcnn/model/abcnn2.ckpt

[xgboost]
model_file = Xgboost_train_Model_abcnn_zi.pkl

